{% extends "base.html" %}
{% block main %}
    <h1>Company List</h1>
    <h4>Select Any Company</h4>
    <ul class="list-group">
        {% for company in company_list %}
            <div class="col-xs-4" style="margin-top:10px">
                <li class="list-group-item text-center">
                    <a class="col-xs-6" href="{{url_for('show_company', symbol=company[2])}}">{{company[1]}}</a>
                    <label class="col-xs-6 label
                    {% if company[6].risk == 'High' %}
                        label-danger
                        ">
                    {% elif company[6].risk == 'Moderate' %}
                        label-warning
                        ">
                    {% elif company[6].risk == 'Low' %}
                        label-success
                        ">
                    {% endif %}
                    {{company[6].risk}}
                    </label>
                </li>
            </div>
            <div class="col-xs-offset-1"></div>
            {% if loop.index % 3 == 0%}
                <div class="clearfix"></div>
            {% endif %}
        {% endfor %}
    </ul>
    <br><br>
{% endblock %}