<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personalised Stock Market Prediction and Suggestion</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bstrap.css')}}">
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{url_for('home')}}">Personalised Stock Market Prediction and Suggestion</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('all_users') }}">User List</a></li>
            <li class="active"><a href="{{ url_for('all_companies') }}">Company List</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <style>
        .label{
            font-weight: 400;
            font-size: 100%;
            padding: 5px;
        }
        .list-group-item{
        overflow:auto
        }
    </style>
    <div class="container-fluid">
	    <div class="row">
            <div class="col-xs-12">
                {% block main%}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>