{% extends "base.html" %}
{% block main %}
    <div class="jumbotron">
      <h2>Get Personalised Stock Suggestions</h2>
      <p>This applications performs the following functions:</p>
      <ul class="list-group">
          <li class="list-group-item">Perform risk analysis of user portfolios, and then classifies them as <i>conservative, moderate, aggressive</i></li>
          <li class="list-group-item">Find preferred categories of companies from portfolio</li>
          <li class="list-group-item">Perform risk analysis companies</li>
          <li class="list-group-item">Match users to companies from their categories and preferred categories</li>
          <li class="list-group-item">Preform a short term analysis of companies using Support Vector Regression</li>
          <li class="list-group-item">Use Relative Strength Index to provide medium term analysis of companies</li>
      </ul>
    </div>
    <div class="alert alert-success">
      <p>To get started select either <i>user list</i> or <i>company list</i> from the menu.</p>
    </div>
{% endblock %}